body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-direction: column;
    background: #293448;
}

.game-stats {
    color: #B8C6DC;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 100%;
    height: 100%;
    background: #212837;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    display: grid;
}

.game-board .food {
    background-color: red;
}


.game-board .head {
    background-color: green;
}